* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    background-color: #FFDF8C;
    padding: 45px;
    min-height: 100vh;
}
.main-container {
    background-color: white;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
}

header {
    padding: 0 30px 0 85px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 138px;
}
header::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    display: block;
    content: '';
    background: #F7F7F7;
    height: 1px;
    width: 80%;

}
.logo {
    display: flex;
    width: 316px;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    width: 38px;
    height: 38px;
}
h1 {
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}
h4 {
    line-height: 19px;
    color: #7B7B7B;
}
.basket {
    background: #FE5F1E;
    border-radius: 30px;
    padding: 15px 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}
.price {
    position: relative;
}
.price::after {
    position: absolute;
    right: -20px;
    top: 0;
    display: block;
    content: '';
    width: 1px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.25);

}
.count {
    display: flex;
    align-content: center;
}
.count img {
    margin-right: 8px;
    width: 16px;
    height: 16px;
}